# AI Server
ai server/venv/
ai server/.env
ai server/faiss_db/
ai server/uploads/
ai server/__pycache__/
ai server/routes/__pycache__/
ai server/services/__pycache__/

# web server
web server/node_modules/
web server/.env
web server/uploads/

# client
client/node_modules/
client/.env