# Basic Web UI
client/node_modules/

# AI Server
server/venv/
server/.env
server/faiss_db/
server/uploads/
server/__pycache__/
server/routes/__pycache__/
server/services/__pycache__/

# Web UI
frontend/node_modules/